@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
// regular style toast



$primary-color:#ebe8d8;
$secondary:#475161;
$color-green:#bfdc36;
$wish-list:#ff614c;


